body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: None;
    color: inherit;
    padding: 5px;
    transition: .3s;
}

body{
    background-color: var(--c6);
}

img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    border-radius: 10px;
}

ul{
    list-style: None;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


a:hover{
    color: var(--c4);
}